<div class="jumbotron">
  <div class="container">
    
<h2 class="text-center"><strong>Intelligent web application for scoring Health Care institutions quality standards and monitoring dashboard for current and previous scores details</strong></h2>


<h2 class="text-center">By</h2>

<h2 class="text-center text-danger">Hany Mohamed Abdelazim Elbanna</h2>


<h2 class="text-center text-danger">DA : DR. Paul Kingsley</h2>

<h3 class="text-center">A DISSERTATION</h3>



<h3 class="text-center">Submitted to</h3>
	
<h2 class="text-center text-primary">The University of Liverpool</h2>



<h3 class="text-center">in partial fulfillment of the requirements for the degree of</h3>


<h2 class="text-center text-primary">MASTER OF SCIENCE</h2>

<hr />

<h4 class="text-center"><span style="color: #cb5a5e;">Scorer Login:</span> scorer@test.com / asdfasdf</h4>
<h4 class="text-center"><span style="color: #cb5a5e;">Validator Login:</span> validator@test.com / asdfasdf</h4>
<h4 class="text-center"><span style="color: #cb5a5e;">Manager Login:</span> manager@test.com / asdfasdf</h4>

  </div>
</div>
