<!-- BEGIN FOOTER -->
<div class="page-footer">
	<div class="page-footer-inner">
		 &copy; HANY ELBANNA
	</div>
	<div class="scroll-to-top">
		<%= fa_icon "arrow-up" %>
	</div>
</div>
<!-- END FOOTER -->