<div class="col-md-3">
  <div class="portlet purple box">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-cogs"></i><%= header_title.titleize %>
      </div>
      <div class="tools">
        <a href="javascript:;" class="collapse">
        </a>
        <a href="javascript:;" class="remove">
        </a>
      </div>
      <div class="actions">
        <a class="btn btn-icon-only btn-default btn-sm fullscreen" href="javascript:;" data-original-title="" title="">
        </a>
      </div>
    </div>
    <div class="portlet-body">
      <div class="row">
        <div class="col-md-12">
          <div id='<%= chart_id %>'></div>
        </div>
      </div>
    </div>
  </div>
</div>