<div class="digg_pagination">
  <div class="page_info pull-left" style="margin-right: 10px;">
    <%= page_entries_info pages_collection %>
  </div>
  <%= will_paginate pages_collection, :container => false %>
</div>