<div class="row" data-turbolinks-permanent>
  <div class="col-md-<%= header_rows %>">
    <div class="portlet box <%= header_color %>">
      <div class="portlet-title">
        <div class="caption">
          <%= fa_icon "cogs" %> <%= header_title.titleize %>
        </div>
        <div class="tools">
          <a href="javascript:;" class="collapse">
          </a>
          <a href="javascript:;" class="remove">
          </a>
        </div>
        <div class="actions">
          <a class="btn btn-icon-only btn-default btn-sm fullscreen" href="javascript:;" data-original-title="" title="">
          </a>
        </div>
      </div>
      <div class="portlet-body">